<div id="contact-sujet">
	<h1>
	{{ if subject == "Contact" }}
		Contact 
	{{ elseif subject == "Réservation" }}
		R&eacute;servation 
	{{ endif }}
	</h1>
</div>

{{ if subject  == "Réservation" }} 
	<div id="contact-reservation"> 
			<h2">
				Date souhait&eacute;e: {{ reservation_date }}
				Heure souhait&eacute;e: {{ reservation_heure }}
			</h2>
			<div>
				 {{if reservation_soin}}{{reservation_soin}}{{endif}}
				 {{#if reservation_duree}}{{reservation_duree}} minutes{{endif#}}
				 {{#if reservation_prix}}{{reservation_prix}}€{{endif#}}
			</div>
					 
		 
	</div>
{{ endif }}

<div id="contact-infos"> 
		<div class="row">
			<div class="form-group col-sm-8 ">
				Nom et pr&eacute;nom: {{ name }}
			</div>
			<div class="form-group col-sm-4">
				Soci&eacute;t&eacute;: {{ societe }}
			</div>
			<div class="form-group col-sm-6">
				Email: {{ email }}
			</div>
			<div class="form-group col-sm-6">
				T&eacute;l&eacute;phone: {{ telephone }}  
			</div>
		</div>
	 
</div> 

<div id="contact-message"> 
{{ message }} 
</div>

<hr/>
Informations techniques:
<br /> IP Address: {{ sender_ip }} OS {{ sender_os }} Agent {{ sender_agent }}