/* mobile */
.mobile .calendar {
    width: 100%;
}
.mobile .profile_fields {
    font-size: 30px;
}
.mobile input[type=text].order_product, .mobile input[type=number].order_product {
    width: 80%;
    margin: 18px 10%;
    height: 60px;
    border-width: 4px;
    font-size: 50px;
}
.mobile #order-details, .mobile #order-delivery {
    width: 94%;
    margin: 3%;
    float: none;
}    
.mobile input[type=checkbox], .mobile input[type=radio]  {
    width: 40px;
    height: 40px;
}
.mobile #jscart-total {
    font-size:40px;
}
.mobile textarea {
    height: 100px;
}
.mobile #order-details section label, .mobile #order-delivery div label {
font-size: 40px;
}
.mobile .calendar-semaine-titre .next-week {
font-size: 14px;
}
.mobile #calendar-login > a {
    font-size: 30px;
}
.mobile #weekzone div.calendar a div.calendar-spacer { display: none; }
/* normal */
#order-details div label {
    display: block;
}
#order-details section div label {
    font-size:14px;
}
.calendar-semaine-titre .next-week {
    font-size: 12px;
    vertical-align: middle;
}
#weekzone div.content {
        line-height: 55px;
}
input[type=text].order_product, input[type=number].order_product {
    padding: 4px;
    color: #fff;
    width: 74px;
    height: 38px;
    background-color: transparent;
    border: #97a679 1px dotted;
    color: #53695a;
    float: left;
    clear: both;
    margin: 0 5px 0 5px;
    padding: 2px;
    text-align: center;
    font-size: 22px;
}
#weekzone div.content p:hover {
    color: #ea5f1a;
}
#weekzone div.content p:hover input {
    border-color: #ea5f1a;
}
#weekzone div.content p input:focus, #weekzone div.content p input:active {
    border-color: #ea5f1a;
}
#weekzone section:nth-child(1) div.calendar, #weekzone section:nth-child(3) div.calendar, #weekzone section:nth-child(5) div.calendar, #weekzone section:nth-child(7) div.calendar {
    float: right;
    /* clear: left; */
}
#weekzone section:nth-child(2) div.calendar, #weekzone section:nth-child(4) div.calendar, #weekzone section:nth-child(6) div.calendar {
    float: left;
}
#weekzone.odd section:last-child div {
    /* width:100%; */
}
.calendar_element {
    font-size: 18px;
    line-height: 1;
    letter-spacing: 1px;
}
.calendar {
    float: none;
    width: 100%;
    padding:0;
}
.calendar-semaine-titre {
    display: block;
    padding: 0;
    width: 100%;
    text-align: center;
    font-weight: normal;
    text-shadow: none;
}
#weekzone:hover .calendar-semaine-titre, #weekzone:hover .calendar-semaine-dates {
    color: #00b0ef;
}
div.calendar_titre, .calendar_titre a {
    font-size: 28px;
    border-bottom: 1px solid #fe33cc;
    margin-bottom: 10px;
    width: 90%;
    margin: auto;
}
div.calendar a:hover div.calendar_titre {
    color: #f06723;
}
div.calendar a:hover div.calendar_separator  {
    color: #f06723;
}
.calendar-jour-titre {
    font-size: 50px;
}
.message_global {
    text-align: center;
    /* color: floralwhite; */
    font-size: 30px;
}
input[disabled].order_product {
    
border: none;
}
.no-stock {
    text-decoration: line-through;
}
#calendar-semaine-bas {
    clear: both;
    font-size: 22px;
}
/* orders customising */
#order-form-container {
    max-width: 788px;
    margin: auto;
    border: 1px solid #BFBCBC;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: #fbfbfb;
    margin-top: 20px;
    max-width: 740px;
    margin: auto;
    margin-top: 20px;
}
#order-form-container {
    max-width: 840px;
}
#order-details, #order-delivery {
    width: 94%;
    margin: 3%;
}
.profile_fields {font-size: 14px;}
#order-details textarea {
    /* color: #48000a; */
}
#order-details textarea, #order-delivery > div:nth-child(2) > div input,
#order-delivery > div:nth-child(3) > div input {
    width: 100%;
    /* color: #48000a; */
}
#order-button-wrapper {
    padding: 20px;
}
#order_button {
    border: none;
    clear: both;
    text-align: center;
    /* margin: auto; */
}
#jscart-total {
    
}
#jscart-total li {
    display: initial;
    margin: 0 20px 0px 0px;
}
#jscart-total ul li:nth-child(2) {
    padding:30px;
}
#calendar-login > a {
    font-size: 14px;
}
#calendar-login {
    /* width: 90%; */
    max-width: 800px;
    margin: auto;
    margin-top: 40px;
    padding: 20px;
    border: 1px solid #BFBCBC;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #fbfbfb;
    font-size: 15px;
}
/*animation*/
#weekzone div.calendar a section .calendar_separator, #weekzone div.calendar a .calendar_titre, 
#weekzone .calendar-semaine-titre, #weekzone .calendar-semaine-dates {
        -webkit-transition: margin-top 0.3s ease-in-out;
        -moz-transition: margin-top 0.3s ease-in-out;
        -o-transition: margin-top 0.3s ease-in-out;
        transition: margin-top 0.3s ease-in-out; 
        -webkit-transition-property: color, margin-top;
        -moz-transition-property: color, margin-top;
        -o-transition-property: color, margin-top;
        transition-property: color, margin-top;

}
#weekzone div.calendar a:hover .calendar_separator:first-of-type {
    margin-top: 0;
}
#weekzone div.calendar a:hover .calendar_separator {
    margin-top: 30px;
}
#weekzone div.calendar a:focus {
    outline: none;
}
/* responsive */
@media only screen and (min-width: 626px) {
    #order-details, #order-delivery {
        width: 44%;
        margin: 3%;
        float: left;
    }
}
@media only screen and (min-width: 926px) {
    .calendar {
        float: left;
        width: 14%;
        padding: 1%;
        /* font-size: 12px; */
    }
    /*spacers*/
    #weekzone div.calendar a section {
        float: left;
        width: 96%;
    }
    #weekzone div.calendar a div.calendar-spacer {
        border-right: solid #df3bc7 1px;
        float: right;
        height: 380px;
        margin-top: 80px;
    }
    #weekzone div.calendar a:hover div.calendar-spacer {
        height: 440px;
    }
    #weekzone div.calendar:last-of-type a div.calendar-spacer  {
        visibility: hidden;
    }
    #weekzone div.calendar a div.calendar-spacer {
            -webkit-transition: height 0.3s ease-in-out;
            -moz-transition: height 0.3s ease-in-out;
            -o-transition: height 0.3s ease-in-out;
            transition: height 0.3s ease-in-out;
    }

}