/*********************************** 
    Author     : Radja Lomas
 patients theme  custom CSS  
************************************/ 

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0;
    /* margin-bottom: 0; */
}
div#doc-cat-icon {
    text-align: center;
    margin-bottom: 30px;
}
nav#top-nav {
    background: #51c1fb;
    border-bottom: 1px solid #239ce8;
} 
.for_user_ico {
    float: right;
    font-size: large;
}
/* top */
#back-btn {
    position: absolute;
    z-index: 10000;
    margin-top: 10px;
}
.display-name {
    /* max-width: 46px; */
    /*
overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block; */
    font-weight: bold;
}
/* nav */
nav.patients {
    background-color: #dbe1e6;
    /* margin: 20px; */
    padding-bottom: 15px;
}
.navbar-nav i.glyphicon.glyphicon-user {
    color: greenyellow;
}
a.btn-link.dropdown-toggle {
    background: transparent;
}
.open a.btn-link.dropdown-toggle {
    background: #dbe1e6;
}
/** bottom */
#bottom-nav .logo {
    font-size: 30px;
}