/*************************************************************************************************** 
    Created on : 4  02 2017, 00:45:19
    Author     : Radja Lomas
Integration file for bootstrap 
****************************************************************************************************/
/************************************************
* icons
*************************************************/
i.close {
    opacity: 0.2;
    font-style: normal;
}
i.glyphicon.glyphicon-info-sign {
    color: #c1c1c1;
}
/****************************************************************
* fonts 
*****************************************************************/
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
}
h1, h2, h3 {
    margin-top: 21px;
    margin-bottom: 31.5px;
    line-height: 50px;
}

.alert h1, .alert h2, .alert h3,.alert h4,.alert h5,.alert h6  {
    text-shadow:none;
}
.panel h1, .panel h2, .panel h3,.panel h4,.panel h5,.panel h6  {
    text-shadow:none;
}
/****************************************************************
* main page blocks
*****************************************************************/
body {background-attachment: fixed !important;}
body > #container {margin-top: 40px;}
p {
}
/****************************************************************
* cookie eula
*****************************************************************/
div#cookie-accept {
    position: fixed;
    bottom: 0;
    padding: 15px;
    z-index: 1000;
    width: 100%;
}
/****************************************************************
* modals
****************************************************************/
.modal-body #login > div.container {    
    width: 100%;
}
#myModal > div > div > div.modal-body > div {
    padding: 0;
    margin: 0;
    display: block;
    margin: auto;
    float: none;
} 
/**************************************************************
* navigation
**************************************************************/
.navbar-nav>li>a, .dropdown-menu>li>a {
    /* font-size: small; */
}
#container > nav {
    min-height: 40px;
    margin-bottom: 0;
}
.navbar>.container .navbar-brand {
	font-size: 18px;
	/* display: none; */
} 
.navbar-nav>li>a, .navbar-nav>li>.dropdown-menu {
	padding: 6px 10px;
} 
.navbar-toggle {
    margin: 0;
    margin-right: 15px;
    margin-top: 6px;
} 
.navbar-nav {
    margin-top: 5px;
    font-size: 14px;
    float: right;
}
.navbar-nav>li {
    margin: 2px;
} 
.top-user-menu {
    float: right;
}
.navbar-header {
    padding-bottom: 10px;
}
/***************************************************************
* responsive
****************************************************************/
@media (min-width: 468px) {
	input#transfer-button {
	}
	.navbar>.container .navbar-brand {
		/* font-size: 28px; */
		/* display: none; */
		margin-left: 0;
		height: 44px;
		margin-top: 0;
		padding-top: 10px;
	}
	.tForm-group {
  }
 	.tr-submit {
  } 
	div.navbar-collapse.collapse {
	}
}
@media (min-width: 768px) {
	.content.homepage.col-sm-12 {
	}
	.navbar>.container .navbar-brand {
	}
	form.transfer {
	}
	form#form-transfer {
	}
	form#form-meta, form#form-email {
            /* width: 478px; */
	}
	div.navbar-collapse.collapse {
		/* font-size: small; */
	}
}
@media (min-width: 992px) {
	.navbar>.container .navbar-brand {
		 display: block;
	}
	div.navbar-collapse.collapse {
		/* font-size: inherit; */
	}
}
@media (min-width: 1200px) {
	.navbar>.container .navbar-brand {
		 /* display: block; */
	}
	div.navbar-collapse.collapse {
		font-size: initial;
		width: 996px;
	}
}

