/*********************************** 
    Author     : Radja Lomas
 patients theme  custom CSS  
************************************/ 
/*********
body
*********/
body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#42cdff+0,3facf4+20,3facf4+46,ff33cc+100 */
    background: #42cdff; /* Old browsers */
    background: -moz-linear-gradient(top, #42cdff 0%, #3facf4 20%, #3facf4 46%, #ff33cc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #42cdff 0%,#3facf4 20%,#3facf4 46%,#ff33cc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #42cdff 0%,#3facf4 20%,#3facf4 46%,#ff33cc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42cdff', endColorstr='#ff33cc',GradientType=0 ); /* IE6-9 */
}
/********
common
********/

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0;
    /* margin-bottom: 0; */
}
div#doc-cat-icon {
    text-align: center;
    margin-bottom: 30px;
}
nav#top-nav {
    /* background: transparent; */
    border-bottom: 1px solid #01b0ef;
} 
.for_user_ico {
    float: right;
    font-size: large;
}
i.ico-pro.glyphicon.glyphicon-plus-sign {}

i.ico-pro.glyphicon {
    color: white;
}
.specialite-rdv {
    max-width: 314px;
    margin: auto;
}
.titre-rdv, .titre-pro, .display-name {
    color: white;
    font-weight: normal;
}

.text-center.h4  {}
/***********
 top 
 *************/
#back-btn {
    position: absolute;
    z-index: 10000;
    margin-top: 10px;
}
.display-name {
    /* max-width: 46px; */
    /*
overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block; */
    /* font-weight: 100; */
    color: white;
}
.navbar-nav .open .dropdown-menu > li > a:hover, .navbar-nav .open .dropdown-menu > li > a:focus {
    background-image: none;
    background: transparent;
    border: none;
    box-shadow: none;
}
/* nav */
nav.patients {
    background-color: #dbe1e6;
    /* margin: 20px; */
    padding-bottom: 15px;
}
.navbar-nav i.glyphicon.glyphicon-user {
    color: greenyellow;
}
a.btn-link.dropdown-toggle {
    background: transparent;
}
.open a.btn-link.dropdown-toggle {
    background: #dbe1e6;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: transparent;
    border-color: #428bca;
} 
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}
.navbar-nav {
    background: #41c2fb;
}
/** bottom */
#bottom-nav .logo {
    font-size: 30px;
}
#footer i.glyphicon.glyphicon-home {
    color: #00aeee;
}