.bg-bus {
    width: 24px; height: 24px;
    background: url('sprites.png') -10px -10px;
}
 .bg-clock {
    width: 24px; height: 24px;
    background: url('sprites.png') -54px -10px;
}
 .bg-email {
    width: 24px; height: 24px;
    background: url('sprites.png') -10px -54px;
}
 .bg-lotus {
    width: 24px; height: 24px;
    background: url('sprites.png') -54px -54px;
}
 .bg-map_marker {
    width: 24px; height: 24px;
    background: url('sprites.png') -98px -10px;
}
 .bg-parking {
    width: 24px; height: 24px;
    background: url('sprites.png') -98px -54px;
}
 .bg-telephone {
    width: 24px; height: 24px;
    background: url('sprites.png') -10px -98px;
}
 .bg-buddha {
    width: 24px; height: 24px;
    background: url('sprites.png') -54px -98px;
}
 .bg-buddha_2 {
    width: 24px; height: 24px;
    background: url('sprites.png') -98px -98px;
}