<!doctype html>{{# PATIENTS sub domain #}}
<html>
  <head>
        {{ theme:partial name="patients-meta" }}
        <script> 
            var pg_load = '<img src="assets/img/loading.gif" />'; 
        </script> 
  </head> 
  {{#
  // note that to avoid logging the message << Plugin method "options" does not exist on class "Plugin_Theme". >>
  // you have te reindex the theme in admin 
  // this is a subdomain theme so theme settings are global root domain theme settings 
  #}}
    <body {{ if theme:options:disable_right_click == 'yes' }} oncontextmenu="return false;"{{endif}}>

  
 
	<header>
		{{ theme:partial name="patients-header" }}  
	</header>	 
        <h1 class="hidden">{{if custom:subdomain_value}} SUBDOMAIN {{custom:subdomain_value}} {{endif}}</h1>
    <div id="container" class="container"> 
        <div class="content">  
                {{ session:messages success="main alert alert-success alert-dismissable" notice="main alert alert-warning alert-dismissable" error="main alert alert-danger alert-dismissable" }}

                {{ theme:partial name="patients-breadcrumbs"}}
                {{ template:body }}
        </div> 
    </div>   


<footer id="footer"> 
</footer>
	  

<?php if( ENVIRONMENT == 'production' ) : ?>
<!-- tracking -->
 
<?php endif; ?>	

<!-- Scripts -->
{{ theme:partial name="patients-script" }}
 
{{ asset:js file="theme::js.cookie.js"  group="patients-extras" }}
{{ asset:render group="patients-extras" }}
 
{{ theme:partial name="patients-adminbox" }}
        
</body>
</html> 