<nav class="patients navbar-fixed-top" role="navigation" id="top-nav"> 
	<div class="container"> 
            <div class="row">
                <div id="back-btn" > 
                    <a class="loader load-replace btn btn-link" onclick="navigateBack()" style="<?= empty($this->agent->referrer()) || empty($this->uri->segment(1)) ? 'display:none' : '' ?>">
                            <i class="glyphicon glyphicon-arrow-left"></i>
                    </a>  
                </div>
                {{if {url:segments segment="1"} == "inscription" }} 
                            <img class="alt-logo" src="{{url:site}}addons/default/themes/msante/img/pro/top.png" alt="Accueil"/>
                {{else}}
                <div class="" >  
                        <div class="text-center" >
                            <img class="logo" src="{{url:site}}addons/default/themes/msante/img/pro/toppro.png" alt="Accueil"/>
                        </div>
                </div>
                <div id="user-box" class="text-center"  style="{{if user:logged_in}}color: green{{else}}red{{endif}}"> 
                    {{ if user:logged_in }} 
                            <i class="glyphicon glyphicon-user"></i> 
                             
                            {{ msante:pro_get_doctor id={msante:pro_doctor_id} }}
                                {{name}} 
                            {{ /msante:pro_get_doctor}}
                            <!--
                             <div class="display-name">{{# user:username #}} {{ user:display_name }}</div> 
-->
                            <!--
                            {{ if user:logged_in }} <div class="display-name">{{# user:username #}} {{ user:display_name }}</div>{{ endif }} <i class="glyphicon glyphicon-user"></i>
                            -->

                    {{ else }}
                            {{# connect #}}
                                {{if url:uri_string != "users/login"}}
                                <ul class="nav navbar-nav ">
                                    <li><a href="{{url:site}}users/login" class="btn btn-default ">Connexion</a></li>  

                                </ul>     
                                {{endif}}
                    {{ endif }}     
                </div> 
                {{endif}} 
            </div> 
	</div>
</nav> 
