<!doctype html>{{# PATIENTS sub domain #}}
<html>
  <head>
        {{ theme:partial name="patients-meta" }}
        <script>
            //load icon @todo move to templates
            var pg_load = '<img src="assets/img/loading.gif" />'; 
        </script> 
  </head> 
  <?php
  // note that to avoid logging << Plugin method "options" does not exist on class "Plugin_Theme". >>
  // you have te reindex the theme in admin 
  ?>
    <body {{ if theme:options:disable_right_click == 'yes' }} oncontextmenu="return false;"{{endif}}>

        <!-- SUBDOMAIN {{ custom:subdomain_value }}  -->
    <noscript>
        <div class="alert alert-danger text-center">
            <span style="font-size: 22px"> 
                Ce site necessite JavaScript pour fonctionner! 
            </span>
        </div>
    </noscript>
 
	<header>
		{{ theme:partial name="patients-header" }}  
	</header>	 
        <h1 class="hidden">{{if custom:subdomain_value}} SUBDOMAIN {{custom:subdomain_value}} {{endif}}</h1>
    <div id="container" class="container"> 
        <div class="{{if page:id !=''}}content{{endif}} {{if page:is_home}}homepage {{endif}}">  
                {{ session:messages success="main alert alert-success alert-dismissable" notice="main alert alert-warning alert-dismissable" error="main alert alert-danger alert-dismissable" }}

                {{ theme:partial name="breadcrumbs"}}
                {{ template:body }}
        </div> 
    </div>   


<footer id="footer"> 
</footer>
	  

<?php if( ENVIRONMENT == 'production' ) : ?>
<!-- tracking -->
 
<?php endif; ?>	

<!-- Scripts -->
{{ theme:partial name="script" }}

{{ asset:js file="theme::js.cookie.js"  group="extras" }}
{{# asset:js file="theme::lightbox.min.js" file_min="theme::lightbox.min.js"  group="extras" #}}
{{# asset:js file="theme::jquery.montage.js" file_min="theme::jquery.montage.min.js"  group="extras" #}}
{{# asset:js file="theme::clipboard.js" file_min="theme::clipboard.min.js"  group="extras" #}}
{{# IE bug http://jsfiddle.net/sEEMZ/ #}}
{{# asset:js file="theme::placeholders.jquery.js" file_min="theme::placeholders.jquery.min.js"  group="extras" #}}
{{# asset:js file="jq-ui-1.12.0/jquery-ui.js" file_min="jq-ui-1.12.0/jquery-ui.min.js"  group="extras" #}}

{{ asset:render group="extras" }}
 
{{ theme:partial name="adminbox" }}
        
</body>
</html> 