form div.form_inputs ul li:nth-child(2) > div  label, 
form div.form_inputs ul li:nth-child(2) > div  div.input,
form div.form_inputs ul li:nth-child(2) > div  div.input label
{
display: inline;
}


form div.form_inputs ul li:nth-child(2) div 
{
    display: inline-flex;    
}
#name {
    height: 20px;
}
#description {
    height: 50px;
}
#hours {
    height: 60px;
}
form div.form_inputs ul li:nth-child(5),
form div.form_inputs ul li:nth-child(6),
form div.form_inputs ul li:nth-child(7), 
form div.form_inputs ul li:nth-child(8),
form div.form_inputs ul li:nth-child(9),
form div.form_inputs ul li:nth-child(10) 
{
    width: 300px;
    float: left;
}

form div.form_inputs ul li:nth-child(8) {
    clear:  both; 
}
form div.form_inputs ul li:nth-child(11) {
    clear:  both; 
}