div.listing section:nth-child(1) {
    border-top: 0;
}
section.doctor h4 {
    margin-bottom:6px;
    clear: both;
}  
section.doctor {
    padding-top: 40px;
    line-height: 20px; 
    clear: both;
    display: inline-block;
}
.weekcalendar p {
    display: inline-block;
}
#doctors-list {
    background-color: #f3f4f5;
    padding: 10px;
}
#map_canvas {
    height: 500px;
    width: 100%;
}