#doctors-list > ol > li:nth-child(1) {
    border-top: 0;
}
li.doctor h4 {
    margin-bottom:6px;
    clear: both;
} 
li.doctor p:nth-child(4) {
    line-height: 20px;
    min-width: 300px;
    width: 50%;
}
li.doctor {
    padding-top: 40px;
    line-height: 20px;
    list-style: none;
}
#map_canvas {
    height: 500px;
    width: 100%;
}
div#doctors-list {
    background-color: #f3f4f5;
    padding: 10px;
}