{{# file is included in layout so LEX tags are available and js vars have global scope #}}
<script>
    var url_site='{{url:site}}';
    var theme = {}; 
    theme.loadimg = '<img src="{{url:site}}addons/default/themes/msante/img/loading.svg" class="loadimg" style="height:6px;" />';
    theme.loaddiv = '<div style="text-align:center;width:100%;padding-top:60px">'+theme.loadimg+'</div>';
    
 
    /***************************************** pg load  *****************************************/
    $( document ).ready(function() {
            /*cookie accept*/
            if(Cookies.get('cookieeula') != 'yes') 
            {
                    $( "#cookie-accept" ).attr( "style", "display:block" );
            }
            
            /*loading icon on links*/
            $('a.loader, button.loader, input.loader').each(function() {
              $( this ).on('click', function _clk_load(event){
                        //if(typeof(event)!=='undefined') event.preventDefault();
                        if($( this )[0].href !== window.location.href) {
                            console.log('_clk_load');
                               var cont = $( this ).html();
                               if( $(this).hasClass('load-replace') ) {
                                    $( this ).html( theme.loadimg ).addClass('disabled'); 
                               } else { 
                                    $( this ).html( theme.loadimg + cont ).addClass('disabled'); 
                               }
                        }							
              });
            }); 
				
            /*ajax menu*/
/*            $('a.ajax').each(function() {
              $( this ).on('click', function _clk_ajx(event){
                        if(typeof(event)!=='undefined') event.preventDefault();
                        if($( this )[0].href !== window.location.href) {
                                ajaxModal($( this )[0].href, "$('.modal-body input[type=text], .modal-body textarea').addClass('form-control');$('.modal-body input[type=submit]').addClass('btn btn-primary')");
                        }							
              });
            }); */
				
            /*close btns*/
            /*$('.i.close').css('visibility', 'visible');*/
            /*system alerts*/
                $('div.main.alert').prepend('<a class="close">&times;</a>');
            /* alerts */
                $('.alert a.close, .alert i.close').on('click', function(){
                        $(this).parent().slideUp();
                });

            /*end ready*/
    });
</script> 
