<nav class="" role="navigation" id="bottom-nav"> 
	<div class="container"> 
            <div class="btn-lg">  
                    
                    <div class="text-center" >
                        <!-- <a class="" href="{{site:url}}"><img src="{{ url:site }}files/thumb/fea67cd85d808e4/200/40" alt="Accueil"/></a> -->
                        <a class="" href="{{site:url}}"><img src="{{ url:site }}files/thumb/2245be5c08ed128cc01bbd08361d6b94.png/80/80" alt="Accueil"/></a> 
                                {{ if user:logged_in }}             


                                                        
                                {{ else }}
                                        {{# connect #}}
                                         
                                {{ endif }}     
                    </div> 
            </div> 
	</div>
</nav> 
