<nav class="patients navbar-fixed-top" role="navigation" id="top-nav"> 
	<div class="container"> 
            <div class="row btn-lg">
                {{if false}}
                <div class="col-xs-3" > 
                    <a class="btn btn-default hidden">
                            <i class="glyphicon glyphicon-arrow-left"></i>
                    </a>  
                </div>
                {{endif}}
                <div class="col-xs-9" >  
                        <div class="text-center" >
                            <a href="{{site:url}}"><img class="logo" src="{{url:site}}addons/default/themes/msante/img/logo160px.png" alt="Accueil"/></a> 
                        </div>
                </div>
                <div class="col-xs-3" > 
                {{ if user:logged_in }}              
                        <ul class="nav navbar-nav ">                   
                                <li class="dropdown ">
                                  <a class="btn btn-default dropdown-toggle" data-toggle="dropdown"> 
                                        {{ if user:logged_in }} {{ user:username }}{{ endif }} <span class="glyphicon glyphicon-user"></span>
                                  <span class="caret"></span></a>
                                  <ul class="dropdown-menu">
                                    <li><a href="{{url:site}}rendez-vous">Mes rendez vous</a></li>
                                    <li><a href="{{url:site}}users/edit">Mes informations personnelles</a></li>
                                    <li><a href="{{url:site}}users/logout" class="btn btn-danger">Déconnexion</a></li>
                                  </ul>
                                </li>  
                        </ul>      
                {{ else }}
                        {{# connect #}}
                        <ul class="nav navbar-nav ">
                            <li><a href="{{url:site}}users/login" class="btn btn-default ">Connexion</a></li>  

                        </ul>     
                {{ endif }}     
                </div> 
            </div> 
	</div>
</nav> 
