<nav class="patients navbar-fixed-top" role="navigation">
	
	<div class="container">
				
                        <a class="navbar-brand" href="{{site:url}}"><img src="{{ url:site }}files/thumb/fea67cd85d808e4/200/40" alt="Accueil"/></a> 
                <div class=" ">
                        {{ if user:logged_in }}              
                                <ul class="nav navbar-nav ">                   
                                        <li class="dropdown ">
                                          <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">

                                                <span class="glyphicon glyphicon-user"></span>{{ if user:logged_in }}<br />{{ user:username }}{{ endif }} 
                                          <span class="caret"></span></a>
                                          <ul class="dropdown-menu">
                                            <li><a href="{{url:site}}rendez-vous">Mes rendez vous</a></li>
                                            <li><a href="{{url:site}}users/edit">Mes informations personnelles</a></li>
                                            <li><a href="{{url:site}}users/logout" class="btn btn-danger">Déconnexion</a></li>
                                          </ul>
                                        </li> 
   
                                </ul>                  
                        {{ else }}
                                {{# connect #}}
                                <ul class="nav navbar-nav ">
                                    <li><a href="{{url:site}}users/login" class="btn btn-default ">Connexion</a></li>  
                                    
                                </ul>     
                        {{ endif }}           
                </div> 
 
                <div class="collapse navbar-collapse" id="navbar-collapse">                       
                </div>
	</div>
</nav>


