li div.input > label,
div.input label {
    margin-left: 10px;
    margin-right: 30px;
    min-width: 120px;
    display: inline-block;
    text-align: right;
}
div.form_inputs ul li div.input {
    padding: 0px 20px;
}
div.input input[type="radio"]{
    margin-left: 10px;
}
#search div.input input{
    /* height: 16px; */
    margin-right: 10px;
    /* font-size: 14px; */
    /* line-height: 1; */
    /* vertical-align: text-bottom; */
}
/*search*/
#search > form > div:nth-child(3),
#search > form > div:nth-child(4) {
}

/*appointment content*/
#appointment-details, #appointment-patient, #appointment-delivery, #appointment-cart, #appointment-extra {
    padding:16px;
    width: 100%;
    display: block;
    clear: both;
}
#form_inputs > div.buttons {
    clear: both;
    margin: 16px;
}

div.table_action_buttons > div {
    font-size: 13px;
    position: relative;
    display: inline-block;
    margin: 5px 0 5px 0;
    zoom: 1;
    top: 12px;
}
/*search*/
#search {
    width: 90%;
    margin: auto;
}
#search form div div label {
    margin-left: 10px;
    margin-right: 30px;
    min-width: 120px;
    display: inline-block;
    text-align: right;
}
div.input input[type=text] {
    width: 228px;
    /* max-width: 98%; */
}   
#views {
    width: 90%;
    margin: auto;
    min-height: 30px;
    margin-top: 20px;
}
div.input label:nth-child(2),div.input label:nth-child(3),div.input label:nth-child(4),div.input label:nth-child(5),div.input label:nth-child(6) {
    margin:0;
    font-weight:normal;
}
table th, table td {
    padding: 4px;
}

/* responsive */
@media only screen and (min-width: 767px) {
        #form-info{
            width: 100%;
        }
        #form-stock{
            float: left;
        }
        #form-prices{
            clear: left;
        }
        #form-image{
            width: 30%;
            float: right;
        }
        #form-descr{
            width: 60%;
            float: left;
        }
        #form-bottom {
            display: inline-block;
        }
        div.input {
            display: block;
        }
        #form-descr div textarea {
            width: 300px;
            vertical-align: middle;
        }
}


#search .appointments-appointment, #search .appointments-delivery {
    float: left;
}