#appointment-details .input {
    display: inline-block;
}
#appointment-button-wrapper {
    clear: both;
}
#appointment-cancel, #appointment-button-wrapper a.delete {
    margin: 5px 20px;
    display: inline-block;
}
#appointment-patient input, #appointment-delivery input {
    width: 100%;
} 
#appointment-form ul li {
    
    list-style: none;
}
#appointment-details input[type="radio"] {
 margin-left: 20px;  
display: inline-flex; 
}
#appointment-details div textarea{
}
#appointment-extra {
}
/*datepicker*/
#appointment-customised-datepicker input.tofill {
}
#appointment-customised-datepicker label {
}
/* search */
#content-wrapper .search-field {
}
/* rendez vous page */
div.content li.active a {
    color: white;
}
/* print */
@media only print
{
}    
/* responsive */
@media only screen and (min-width: 825px)
{
}    
@media only screen and (min-width: 1025px)
{ 
        #appointment-details input[type="radio"] { 
        } 
}
